<div class="wrapper">
    <!-- Sidebar  -->
    <nav [ngClass]="{'active': sidebarActive}" id="sidebar">

        <!-- index.html o cualquier otro archivo HTML en la misma carpeta que la imagen -->
        <div class="sidebar-header">
            <img src="assets/ACADEMAI (1).png" alt="Logo">
        </div>

        <ul class="list-unstyled">
            <li>
                <a href="#">
                    <i class="fas fa-home"></i> <!-- Icono de una casa -->
                    Pagina Principal
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-bolt"></i> <!-- Icono de un trueno -->
                    Crear Supervisor
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-bell"></i> <!-- Icono de una campana -->
                    Ayuda
                </a>
            </li>
            <li class="logout">
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i> <!-- Icono de cerrar sesión -->
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </nav>
</div>