<div class="wrapper">
  <!-- Sidebar  -->
  <nav
    id="sidebar"
    class="tw-h-screen tw-flex tw-flex-col tw-px-5 [&>ul>li>a>i]:tw-px-2"
  >
    <!-- index.html o cualquier otro archivo HTML en la misma carpeta que la imagen -->
    <div class="sidebar-header">
      <img src="assets/ACADEMAI (1).png" alt="Logo" />
    </div>
    <ul
      class="list-unstyle tw-flex-grow [&>li>a]:tw-font-semibold [&>li]:tw-py-4"
    >
      <li>
        <a href="/homepage">
          <i class="fas fa-home"></i>
          <!-- Icono de una casa -->
          Pagina Principal
        </a>
      </li>
      <li>
        <a href="/prediction">
          <i class="fas fa-bolt"></i>
          <!-- Icono de un trueno -->
          Predicción
        </a>
      </li>
      <li>
        <a href="/history-prediction">
          <i class="fas fa-file-alt"></i>
          <!-- Icono de una campana -->
          Historial
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-bell"></i>
          <!-- Icono de una campana -->
          Ayuda
        </a>
      </li>
    </ul>
    <ul>
      <li class="tw-font-semibold tw-py-10">
        <a (click)="logOut()" href="/login">
          <i class="fas fa-sign-out-alt"></i>
          <!-- Icono de cerrar sesión -->
          Cerrar sesión
        </a>
      </li>
      <li class="tw-flex tw-items-center">
        <!-- Reducir el margen superior aquí -->
        <i class="fas fa-user tw-mr-2"></i>
        <div class="tw-flex tw-flex-col">
          <!-- Icono de una persona -->
          <span class="tw-font-bold"
            >{{ supervisor?.name }} {{ supervisor?.lastName }}</span
          >
          <span class="tw-block">{{ supervisor?.email }}</span>
        </div>
      </li>
      <li style="margin-top: 20px"></li>
      <!-- Agrega un espacio debajo de este li -->
    </ul>
  </nav>
</div>
