<main class="tw-flex">
  <aside>
    <app-nav-bar-supervisor></app-nav-bar-supervisor>
  </aside>
  <section
    class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-screen tw-pb-14"
  >
    <h2 class="tw-text-center tw-font-semibold">
      <span>Aun no ha realizado ninguna</span>
      <br />
      <span>predicción</span>
    </h2>
    <a
      class="do-prediction-color tw-text-center tw-text-xs tw-col tw-font-semibold hover:tw-cursor-pointer tw-pt-2"
    >
      <span>Realiza tu predicción</span>
      <br />
      <span>aquí</span>
    </a>
  </section>
</main>
