<main class="tw-flex">
  <aside>
    <app-nav-bar-supervisor></app-nav-bar-supervisor>
  </aside>
  <section
    class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-screen tw-pb-14"
  >
    <div *ngIf="isLoading" class="loader tw-place-self-center"></div>

    <h1
      *ngIf="existPrediction && !isLoading"
      class="tw-text-center tw-font-semibold tw-text-2xl tw-mt-5"
    >
      <span>Última Predicción</span>
    </h1>
    <div
      *ngIf="existPrediction && !isLoading"
      class="tw-h-[1000px] tw-w-full tw-p-10"
    >
      <canvas class="" #chartCanvas></canvas>
    </div>

    <div *ngIf="!existPrediction && !isLoading" class="tw-text-center">
      <h2 class="tw-text-center tw-font-semibold">
        <span>Aun no ha realizado ninguna</span>
        <br />
        <span>predicción</span>
      </h2>
      <a
        class="do-prediction-color tw-text-xx|x tw-col tw-font-semibold hover:tw-cursor-pointer"
        href="/prediction"
      >
        <span>Realiza tu predicción</span>
        <br />
        <span>aquí</span>
      </a>
    </div>
  </section>
</main>
