<div
  class="container full-centered tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center"
>
  <div class="col-sm-6">
    <div class="panel panel-default enlarged-panel">
      <div class="panel-heading">
        <h1>Contáctanos</h1>
      </div>
      <form #f="ngForm" (submit)="handleSubmit(f)">
        <div class="panel-body">
          <div
            class="form-group"
            [class.has-error]="f.submitted && !InputName.valid"
          >
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-user"></i></span>
              <input
                type="text"
                name="InputName"
                placeholder="Nombre"
                class="form-control"
                ngModel
                #InputName="ngModel"
                required
              />
            </div>
            <div *ngIf="f.submitted && !InputName.valid" class="text-danger">
              Nombre es requerido
            </div>
          </div>
          <div
            class="form-group"
            [class.has-error]="f.submitted && !InputEmail.valid"
          >
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="fas fa-envelope"></i
              ></span>
              <input
                type="email"
                name="InputEmail"
                placeholder="Correo Electrónico"
                class="form-control"
                ngModel
                #InputEmail="ngModel"
                required
                email
              />
            </div>
            <div *ngIf="f.submitted && !InputEmail.valid" class="text-danger">
              Correo electrónico no válido
            </div>
          </div>
          <div class="form-group" [class.has-error]="phoneInvalid">
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="fas fa-phone-alt"></i
              ></span>
              <input
                type="number"
                name="InputCno"
                placeholder="Teléfono"
                class="form-control"
                ngModel
                required
                #InputCno="ngModel"
                (keydown)="restrictInput($event)"
                (input)="checkPhoneNumber($event)"
              />
            </div>
            <div *ngIf="phoneInvalid" class="text-danger">
              Por favor, ingrese exactamente 9 dígitos
            </div>
          </div>
          <div
            class="form-group"
            [class.has-error]="f.submitted && !InputMessage.valid"
          >
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="fas fa-comment"></i
              ></span>
              <textarea
                name="InputMessage"
                #InputMessage="ngModel"
                [(ngModel)]="messageContent"
                placeholder="Mensaje"
                rows="6"
                class="form-control"
                required
                maxlength="250"
                (input)="updateCharacterCount()"
              ></textarea>
            </div>
            <!-- Actualiza el contador para mostrar caracteres en lugar de palabras -->
            <p>Caracteres: {{ characterCount }} / 250</p>
            <div *ngIf="f.submitted && !InputMessage.valid" class="text-danger">
              Mensaje es requerido
            </div>
          </div>
          <div class="btn-container">
            <button type="submit" class="btn custom-btn-send">
              Enviar <i class="fas fa-send"></i>
            </button>
            <button
              type="button"
              class="btn custom-btn-cancel"
              routerLink="/login"
            >
              Cancelar <i class="fas fa-times"></i>
            </button>
            <button
              type="reset"
              class="btn custom-btn-reset"
              (click)="resetForm()"
            >
              Reiniciar <i class="fas fa-refresh"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- ... código HTML anterior -->
    <div *ngIf="isLoading" class="loader-container">
      <div class="loader"></div>
    </div>

    <!-- Mensaje y botón de éxito -->
    <div *ngIf="emailSent" class="alert alert-success">
      Correo enviado exitosamente.
    </div>

    <!-- Mensaje y botón de error -->
    <div *ngIf="isError" class="alert alert-danger">
      No se pudo enviar el correo, intenta más tarde.
    </div>

    <!-- Botón de redirección al inicio de sesión -->
    <button
      *ngIf="emailSent || isError"
      class="btn btn-primary"
      (click)="redirectToLogin()"
    >
      Ir a Inicio de Sesión
    </button>
  </div>
</div>
