<main class="tw-h-screen tw-w-screen tw-flex tw-items-center tw-justify-center">
  <section
    class="tw-flex tw-flex-col tw-p-10 tw-justify-center tw-items-center tw-w-[20%] tw-rounded-2xl box-shadow tw-border-l-amber-950 [&>label]:tw-pb-2 [&>label]:tw-pt-2"
  >
    <h2 class="tw-text-2xl tw-font-semibold tw-pb-5">Cambiar contraseña</h2>
    <label> Ingresar nueva contraseña </label>
    <input
      class="tw-border tw-rounded-lg tw-bg-gray-200 tw-border-gray-300 tw-p-2"
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Nueva contraseña"
    />
    <label> Repetir nueva contraseña </label>
    <input
      class="tw-border tw-rounded-lg tw-bg-gray-200 tw-border-gray-300 tw-p-2"
      type="password"
      [(ngModel)]="confirmPassword"
      name="password"
      placeholder="Repetir nueva contraseña"
    />

    <button
      class="forgot-password-color tw-rounded-lg tw-p-2 tw-mt-5 tw-text-white tw-font-semibold"
      (click)="validatePassword()"
    >
      Cambiar contraseña
    </button>

    <div
      *ngIf="showDialog"
      class="tw-fixed tw-inset-20 tw-flex tw-items-center tw-justify-center tw-z-50 tw-w-full"
    >
      <div class="tw-bg-white tw-rounded tw-shadow-lg tw-p-8 tw-w-1/2">
        <h2 class="tw-text-2xl tw-mb-4" *ngIf="!passwordValidate">
          Las contraseñas son diferentes
        </h2>
        <h2 class="tw-text-2xl tw-mb-4" *ngIf="passwordValidate">
          Contraseña cambiada correctamente.
        </h2>
        <button
          class="tw-mt-4 tw-bg-blue-500 tw-text-white tw-px-4 tw-py-2 tw-rounded"
          (click)="redirectToLogin()"
          *ngIf="passwordValidate"
        >
          Redirect to login
        </button>

        <button
          class="tw-mt-4 tw-bg-blue-500 tw-text-white tw-px-4 tw-py-2 tw-rounded"
          (click)="closeDialog()"
          *ngIf="!passwordValidate"
        >
          Cerrar
        </button>
      </div>
    </div>
  </section>
</main>
