.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    padding: 32px;
    width: 100%;
    max-width: 400px;
  }
  
  .login-image {
    display: none;
  }
  
  @media (min-width: 640px) {
    .login-container {
      flex-direction: row;
    }
  
    .login-form {
      margin-right: 20px;
    }
  
    .login-image {
      display: block;
      flex: 1;
      height: 100vh;
    }
  }
  
  .forgot-password-color {
    color: #0C2A92;
  }
  