<section class="tw-flex tw-h-screen tw-justify-center tw-items-center">
  <section class="tw-w-[600px] tw-px-10">
    <header>
      <h2 class="tw-text-3xl tw-font-medium">Bienvenido</h2>
      <h3 class="tw-text-xl tw-font-medium tw-py-2">
        Ingrese sus credenciales
      </h3>
    </header>
    <form class="tw-py-10 flex tw-flex-col">
      <div class="tw-flex tw-flex-col tw-py-2">
        <label class="text-lg font-medium">
          <i class="fas fa-envelope"></i>
          <!-- Icono de correo -->
          Correo electrónico
        </label>
        <input
          class="border-2 border-gray-300 rounded-lg p-2"
          type="text"
          [(ngModel)]="email"
          name="email"
          placeholder="Usuario"
        />
      </div>
      <div class="tw-flex tw-flex-col tw-py-2">
        <label class="text-lg font-medium">
          <i class="fas fa-lock"></i>
          <!-- Icono de candado -->
          Contraseña
        </label>
        <div class="password-container tw-flex tw-items-center">
          <!-- Contenedor flex para el icono y el input -->
          <input
            class="border-2 border-gray-300 rounded-lg p-2 tw-flex-grow"
            type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="password"
            name="password"
            placeholder="Contraseña"
            autocomplete="current-password"
          />
          <i
            class="password-icon fas"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
      </div>
      <button
        class="bg-green-500 tw-text-white tw-rounded-md"
        (click)="onLogin()"
      >
        Iniciar Sesión
      </button>
      <a class="tw-text-sm tw-font-medium forgot-password-color tw-mt-5"
        >¿Olvidaste tu contraseña?</a
      >
    </form>
    <footer class="flex justify-center pt-12">
      <a class="text-sm font-medium text-center">
        <span>¿Tienes problemas? Contactate</span>
        <br />
        <span>con un administrador</span>
      </a>
    </footer>
  </section>
  <section class="tw-hidden md:tw-w-screen md:tw-block">
    <img class="tw-h-screen tw-w-full" src="assets/background-login.webp" />
  </section>
</section>
