.forgot-password-color {
  color: #0c2a92;
}

/* Estilo para el botón de inicio de sesión */
button.bg-green-500 {
  background-color: #34d399;
  color: white;
  width: 100%;
}

/* Estilos para los iconos en los títulos de los inputs */
label i.fas {
  margin-right: 8px; /* Espacio entre el icono y el título del input */
}

/* Estilos para el contenedor flex del icono y el input */
.password-container {
  position: relative;
  align-items: center;
}

/* Estilo para el icono de ojo */
.password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Ajustar el ancho del input */
.tw-flex-grow {
  flex-grow: 1;
}
