<section class="tw-flex tw-h-screen tw-justify-center tw-items-center">
  <section class="tw-w-[600px] tw-px-10">
    <header>
      <h2 class="tw-text-3xl tw-font-medium">Bienvenido</h2>
      <h3 class="tw-text-xl tw-font-medium tw-py-2">
        Ingrese sus credenciales
      </h3>
    </header>
    <form class="tw-py-10 flex tw-flex-col">
      <div class="tw-flex tw-flex-col tw-py-2">
        <label class="text-lg font-medium">
          <i class="fas fa-envelope"></i> Correo electrónico
        </label>
        <input
          class="border-2 border-gray-300 rounded-lg p-2"
          type="text"
          [(ngModel)]="email"
          name="email"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="tw-flex tw-flex-col tw-py-2">
        <label class="text-lg font-medium">
          <i class="fas fa-lock"></i> Contraseña
        </label>
        <div class="password-container tw-flex tw-items-center">
          <input
            class="border-2 border-gray-300 rounded-lg p-2 tw-flex-grow"
            type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="password"
            name="password"
            placeholder="Contraseña"
            autocomplete="current-password"
          />
          <i
            class="password-icon fas"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
      </div>
      <span class="invalid-message tw-font-semibold" *ngIf="invalidLogin">
        Contraseña o correo incorrecto
      </span>
      <div class="invalid-message tw-font-semibold" *ngIf="showRequiredFieldsError">Los campos de correo y contraseña son obligatorios.</div>
      <div class="invalid-message tw-font-semibold" *ngIf="showLoginError">Error al iniciar sesión.</div>

      <button class="bg-green-500 tw-text-white tw-rounded-md tw-mt-1" (click)="onLogin()">
        Iniciar Sesión
      </button>
      <a
        class="text-sm font-medium text-center forgot-password-color tw-cursor-pointer"
        [style.textDecoration]="showModal ? 'underline' : 'none'"
        [style.color]="showModal ? 'blue' : 'rgba(24, 42, 202, 0.979)'"
        (click)="toggleModalVisibility()"
      >
        <span>¿Olvidaste tu Contraseña?</span>
      </a>
    </form>
    <footer class="flex justify-center pt-12">
      <a class="text-sm font-medium text-center" routerLink="/contact">
        <span>¿Tienes problemas? Contactate</span>
        <br />
        <span>con un administrador</span>
      </a>
    </footer>
  </section>
  <section class="tw-hidden md:tw-w-screen md:tw-block">
    <img class="tw-h-screen tw-w-full" src="assets/background-login.webp" />
  </section>
</section>

<div class="modal" [class.active]="showModal" (click)="toggleModalVisibility()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <span class="modal-title">Restablecer Contraseña</span>
      <i class="fas fa-times modal-close" (click)="toggleModalVisibility()"></i>
    </div>
    <div class="modal-body">
      <p class="card-text py-2">
        Ingresa tu correo electrónico y te enviaremos un correo con
        instrucciones para restablecer tu contraseña.
      </p>
      <div class="form-outline">
        <label class="text-lg font-medium">
          <i class="fas fa-envelope"></i> Correo electrónico
        </label>
        <input
          class="border-2 border-gray-300 rounded-lg p-2"
          type="email"
          [(ngModel)]="emailForget"
          name="emailForget"
          placeholder="Correo electrónico"
        />
        <div class="validation-message">
          <span class="invalid-message" *ngIf="showValidationMessage && !isValidEmail(emailForget) && !emailSent">
            Correo inválido
          </span>
          <span class="invalid-message" *ngIf="!emailExists && !showSuccessMessage && !showErrorMessage">
            Correo no existe
          </span>
          <span class="valid-message" *ngIf="showSuccessMessage">
            Se envió correctamente el correo
          </span>
          <span class="invalid-message" *ngIf="showErrorMessage">
            Ocurrió un error, por favor inténtelo más tarde
          </span>
        </div>
      </div>
      <a class="btn btn-primary w-100" (click)="validateAndSendEmail()">
        <span style="color: white">Enviar</span>
      </a>
    </div>
  </div>
</div>

<div *ngIf="showLoader" class="loader-container">
  <div class="loader"></div>
</div>
